@import url(input.css);
input,
textarea,
select {
  appearance: none;
  width: 100%;
  border-radius: 0.875rem;
  border: 1px solid var(--input-stroke);

  padding: 1rem;
  font: var(--body-md);
  color: var(--input-placeholder);
  background-color: var(--input-base);
}

label {
  font: var(--body-sm);
  color: var(--text-body);

  display: block;
  margin-bottom: 0.875rem;
}
