* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* CORES */
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  --danger: #ff5959;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /* TIPOGRAFIA */

  --logo: normal 2.5rem / auto "Leckerli One", cursive;

  --heading-md: bold 1.75rem / auto "Baloo 2", sans-serif;
  --heading-sm: bold 1.125rem / auto "Baloo 2", sans-serif;

  --body-md: normal 1rem / auto "Open Sans", sans-serif;
  --body-sm: normal 0.875rem / auto "Open Sans", sans-serif;
  --body-xs: normal 0.5rem / auto "Open Sans", sans-serif;
}

body {
  background-color: #1e1e1e;
  overflow: hidden;

  color: var(--text-body);
}

img {
  width: 100%;
  height: 100%;
}
